h1 {
    font-size: 4em;
    margin-left: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    font-family:'Montserrat','Extra-Bold';
    font-weight:600;
    height: 400px;
}
p{
    font-size: 16px;
    margin-left: 8px;
    padding-left:8px;
    text-align: left;
}
body{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    width:100%;
    background: grey;
    margin-left : 0px;
    margin-right : 0px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 20px;
}
.tab {
    padding:0.3px;
    margin: 0.2px;
    width:13.75%;
    height:60px;
}
.page{
    margin-left: 4%;
    margin-right: 4%;
}
.page1{
    font-size: 18px;
    font-weight: 150;
    text-align: left;
    width: 50%;
    padding-left:4%;
    padding-right: 4%;
}
.headerpage1{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    width: 50%;
}
.page2{
    font-size: 18px;
    font-weight: 150;
    text-align: right;
    width: 50%;
    padding-left:4%;
    padding-right: 4%;
}
.headerpage2{
    font-size: 32px;
    font-weight: 700;
    text-align: right;
    width: 50%;
}
.picture{
    text-align: center;
}
* {
    font-family:'Montserrat';
    line-height:1.5em;
}