.h1 {
    padding-left: 8%;
    padding-top: 200px;
    padding-bottom: 10%;
    text-align: left;
    font-family:'Raleway';
    font-weight:900;
    height: 550px;
    background:#4EBC8C;
    color: white;
}

h1 {
    text-align: left;
    font-family:'Raleway';
    font-weight:900;
    height: 550px;
    color: white;
    font-size: 1.7em;
}
body{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    padding-top :0px;
}
* {
    font-family:'Raleway';
    line-height:1.5em;
}

img {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

 .page{
    margin-left: 72px;
    margin-right: 72px;
    width: 100%;
    margin-top: 72px;
    margin-bottom: 72px;
} 
.page1{
    font-size: 1.125em;
    font-weight: 400;
    text-align: left;
    width: 50%;
    padding-left:10%;
    padding-right: 10%;
}
.headerpage1{
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    width: 50%;
}
.page2{
    font-size: 1.125em;
    font-weight: 400;
    text-align: right;
    width: 50%;
    padding-left:10%;
    padding-right: 10%;
}
.headerpage2{
    font-size: 2em;
    font-weight: 700;
    text-align: right;
    width: 50%
}
.picture{
    padding-left:10%;
    padding-right: 10%;
    margin: 10%;
}
/* Bootstrap Stuff */
.bg-light {
    background-color: transparent!important;
  }