.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 210px;
}

.carousel-caption h5 {
  font-size: 3.5em;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 900;
  text-shadow: 2px 2px 4px #000000;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 400;
}

.carousel-caption a {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  font-weight: 400;
}

.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light .navbar-brand {
  font-family: poppins;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
.navbar-light .nabar-nav .active > .navlink,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav {
  text-align: center;
}
.nav-link {
  padding: 0.2rem 1rem;
}
.nav-link.active,
nav-link:focus,
.navbar-light .navbar-nav .nav-linl:hover {
  color: #fff !important;
}
.w-100 {
  height: 100vh;
  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
  .carousel-caption {
    bottom: 150px;
  }
  .carousel-caption h5 {
    font-size: 2.2em;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
  }

  .carousel-caption p {
    width: 70%;
    margin: auto;
    font-size: 15px;
    line-height: 1.3;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 400;
  }

  .carousel-caption a {
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    font-weight: 400;
  }
}
* {
  font-family: "Muli";
  line-height: 1.5em;
}
h1 {
  font-weight: 900;
  color: white;
  font-size: 4.5em;
  text-shadow: 2px 2px 4px #000000;
}
/* html{
    height: 100%;
} */
