/* For Navbar */
.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  /* text-transform: uppercase; */
  font-weight: 500;
}

.navbar-light .navbar-brand {
  font-family: poppins;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
.navbar-light .nabar-nav .active > .navlink,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav {
  text-align: center;
}
.nav-link {
  padding: 0.2rem 1rem;
}
.nav-link.active,
nav-link:focus,
.navbar-light .navbar-nav .nav-linl:hover {
  color: #fff !important;
}
.w-100 {
  height: 100vh;
  object-fit: cover;
}

body {
  padding-top: 70px;
  min-height: 100vh;
  font-family: "Muli";
  line-height: 1.5em;
}
h1 {
  font-weight: 900;
  color: white;
  /* text-shadow: 1px 1px 2px #000000; */
  text-align: right;
  font-family: "Muli";
  color: white;
  font-size: 72px;
  /* -webkit-text-stroke: 0.5px black; */
}
h5 {
  font-weight: 700;
}
h2 {
  font-weight: 600;
  font-size: 2.7em;
}
.blocktext {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5;
}

/* Bootstrap Stuff */
.bg-light {
  background-color: rgba(226, 226, 226, 1) !important;
}
html {
  height: 100%;
}

footer {
  flex-shrink: 0;
}

.navbar.scrolled1 {
  background: #000000c4;
  transition: background 500ms;
}
.navbar.scrolled2 {
  background: #002e3aef;
  transition: background 500ms;
}

.navselected {
  color: rgba(255, 255, 255, 0.342) !important;
}

section {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Fontnya header sama isi konten */
.cornhead {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  color: black;
  line-height: normal;
}

.cornmid {
  font-size: 2.2em;
  font-weight: 100;
  text-align: center;
  color: black;
  line-height: normal;
}

/* Margin untuk masing2 */

#upperproj {
  margin-top: 4% !important;
  border-radius: 25px 25px 0px 0px;
}

#repoupper {
  margin-bottom: 4% !important;
}

#downproj {
  /* margin-bottom: 4% !important; */
  border-radius: 0px 0px 25px 25px;
}

/* Untuk bagian established */
.textclass {
  font-size: 1.2em;
  color: rgb(207, 207, 207);
  line-height: 1.5;
  font-weight: 100;
  line-height: normal;
}

.textcon {
  margin: auto;
  padding: 3em;
}

/* Padding, margin bagian bagian */

.uppercon {
  padding: 5em;
  border-radius: 25px 25px 0px 0px;
  margin-top: 4%;
  background-color: rgba(255, 255, 255, 0.829);
}

.midcon {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: rgba(0, 0, 0, 0.705);
}

.gallcon {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 3.2em;
  background-color: rgba(201, 201, 201, 0.863);
}

.content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.backgrcon {
  background-color: rgba(255, 255, 255, 0.829);
}

/* For bg */

#bg-about {
  background-image: url("images/bg-aboot.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#bg-projects {
  background-image: url("images/bg-proj.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#imgdown {
  border-radius: 0px 05px 25px 0px;
}

.team4 {
  font-family: "Muli";
  color: #8d97ad;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.829);
  padding-top: 3em;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 3em;
  border-radius: 0px 0px 25px 25px;
}

.footcon {
  padding: 1.5em;
}

.team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
  font-weight: 600;
  font-size: 18.5px;
}

.team4 h5 {
  line-height: 22px;
  font-size: 17px;
}

.team4 .subtitle {
  color: #7c7e83;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.team4 .aboutsub {
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  color: rgb(59, 59, 59);
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
  h1 {
    font-size: 38px;
  }

  #upcom {
    font-size: 32px !important;
    text-align: center;
  }
  .cornhead {
    line-height: big !important;
  }
  .cornmid {
    line-height: big !important;
  }
  .team4 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .team4 .aboutsub {
    font-size: 18px;
  }

  .team4 h5 {
    font-size: 18px;
  }

  .logomobile {
    width: 50% !important;
  }

  #bg-about {
    background-image: url("images/bg-aboot.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #bg-projects {
    background-image: url("images/bg-proj.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

/* .team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
} */
/* .page{
    margin-left: 72px;
    margin-right: 72px;
    width: 100%;
    margin-top: 72px;
    margin-bottom: 72px;
 }
.page1{
    font-size: 1.125em;
    font-weight: 400;
    text-align: left;
    width: 50%;
    padding-left:10%;
    padding-right: 10%;
}
.headerpage1{
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    width: 50%;
}
.page2{
    font-size: 1.125em;
    font-weight: 400;
    text-align: right;
    width: 50%;
    padding-left:10%;
    padding-right: 10%;
}
.headerpage2{
    font-size: 2em;
    font-weight: 700;
    text-align: right;
    width: 50%
}
.picture{
    padding-left:10%;
    padding-right: 10%;
    margin: 10%;
} */
/* body{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    padding-top :0px;
} */
