<?xml version="1.0" encoding="UTF-8"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\thinktankersassembly.com\tmp" />
  </system.web>
</configuration>